* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
}

.container {
	padding: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.col-2 {
	width: 20%;
	float: left;
}

.col-3 {
	width: 30%;
	float: left;
}

.col-7 {
	width: 70%;
	float: left;
}

.col-8 {
	width: 80%
	float: left;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list {
	overflow: scroll;
}

.list--item {
	padding: 10px 0;
	height: 40px;
}

input {
	padding: 5px;
	margin: 5px 0;
	height: 35px;
	width: 100%;
	font-size: 14px;
	border: 1px solid silver;
}

.input-area {
	
}

.button {
	padding: 4px;
	margin: 2px;
	cursor: pointer;
}

.button-area {
	text-align: right;
}